<kendo-grid
    style="background: green  "
    [data]="dataSource"
    [selectable]="selectable"
    #firstGridRef
    (drop)="onDrop($event, firstGridRef, secondGridRef)"
    (cellClick)="onCellClick($event)"
    (dragover)="onDragOver($event, firstGridRef)"
    (dragstart)="onDragStart($event, firstGridRef)"
    [rowSelected]="isRowSelected">
    <ng-container *ngFor="let colum of columns">
      <kendo-grid-column [field]="colum.field" [title]="colum.title" [width]="colum.width" > </kendo-grid-column>
    </ng-container>
    <kendo-grid-messages [noRecords]="noDataMessage"> </kendo-grid-messages>
</kendo-grid>
