<!--<app-button-control-panel [heightFirst]="300" [heightSecond]="200"  >-->

<!--</app-button-control-panel>-->


<app-grid-plus [firstGridData]="firstGridData" [secondGridData]="secondGridData" [firstGridColumns]="firstGridColumns"
               [secondGridColumns]="SecondGridColumns" [objectIdName]="'ProductID'"
                [secondGridFooterTemplate]="fgFooter">
  <ng-template #fgFooter>
    <div>
      <kendo-label
        class="k-radio-label"
        (click)="onTest()"
        [for]="terms1"
        style="background: yellow"
        text="Accept Terms & Conditions"
      ></kendo-label>
      <input type="radio" #terms1 kendoRadioButton/>
    </div>
    <div>
      <kendo-label
        class="k-radio-label"
        [for]="terms2"
        text="Accept Terms & Conditions"
      ></kendo-label>
      <input type="radio" #terms2 kendoRadioButton/>
    </div>
  </ng-template>
</app-grid-plus>
