.k-stepper .k-step-link {
  outline: none !important;
  color: inherit !important;
  text-decoration: none !important;
  white-space: normal !important;
  display: flex !important;
  align-items: center !important;
  overflow: hidden !important;
}
/* You can add global styles to this file, and also import other style files */
